/*CODIGO COLORES*/
:root{
    --rojovino: #611919;
    --claro: #963a3a;
    --amarillo: #c8753d;
    --claroA: #e5a057;
    --variación-amarrillo: #e87324;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #eee;
    --main-color:#443;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);

}
/*CODIGO GENERAL PAGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
}
::-webkit-scrollbar{
    width: 1rem;
    height: 1rem;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #eee;
}
body{
    background: #eee;
}
/*ESTILOS DEL MINI MENU */
.sub-menu{
    position: fixed;
    background: #000;
    height: 33px;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 9%;
}
.envio{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
 
}
.envio a{
    color: #e5a057;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}
/*ESTILOS DEL MENU PRINCIPAL*/
.header{
    position: fixed;
    top: 33px;
    z-index: 1000;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #ffffff;
    box-shadow: 0px 0px 9px 1px #0000004d;
}
.header .logo img{
    width: 90px;
}
.navbar{
    margin-left: 30rem;
}
.header .navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: #000108;
    font-family: 'Roboto', sans-serif;
}
.header .navbar a:hover{
    color: #c8753d;
}
.header .icons{
    margin-right: 1rem;
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: #000108;
    font-size: 2rem;
    margin-right: .2rem;
    cursor: pointer;
    text-align: center;
}
.icons1{
    margin-right: 1rem;
}
.header .icons1 a{
    padding: 1rem 1rem;
    height: 4rem;
    width: 4rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #c8753d;
    color: #fff;
    font-size: 2rem;
    margin-right: .2rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header .icons div:hover{
    background: #c8753d;
    color: #ffffff;
}
#menu-btn{
    display: none;
}


.ofertas{
    padding: 4rem;
    background: #c8753d;
    width: 100%;
    height: 10%;
    
    padding-bottom: 1rem;
    text-align: center;
    display:inline-block;
    position:relative;

}
.ofertas h3{
    font-size: 5rem;
    text-align: center;
    padding-top: 8rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3rem;
    color: #fff;
}
.ofertas a{
    font-size: 2.2rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.ofertas p{
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.image-oferta{
    margin:  2rem  0;
    text-align: center;
}
.image-oferta img{
    width: 130rem;
}
.image-oferta a{
    position: absolute;
    bottom: 10rem;
    left: 42.6%;
    background-color:#fff;
    border-radius: 0.5em;
    color: #000;
    text-transform:uppercase;
    padding: 2rem 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* PRODUCTOS ============*/

.products-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    margin-left: 6rem;
}


.products-list .product-item{
    width: 300px;
    margin-right: 2rem;
    margin-bottom: -5rem;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-list .product-item img{
	width: 100%;
    height: 82%;
}
.products-list .product-item img:hover{
	cursor: pointer;
}
.products-list .product-item p{
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #000000;
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #000000;
    margin-left: -6rem;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #e5a057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
}

footer .redes-footer .fa-facebook-f:hover{
    cursor: pointer;
}

footer .redes-footer .fa-google-plus-g:hover{
    cursor: pointer;
}

footer .redes-footer .fa-instagram:hover{
    cursor: pointer;
}


.container-footer h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
}