@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/*CODIGO COLORES*/
:root{
    --rojovino: #611919;
    --claro: #963a3a;
    --amarillo: #c8753d;
    --claroA: #e5a057;
    --variación-amarrillo: #e87324;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #eee;
    --main-color:#443;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);

}
/*CODIGO GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
:focus{
    outline: none;
}
body{
    background: url(../img/loginbg.jpg) no-repeat;
    width: 100%;
    height: 100vh;
}
.atras .icon-atras i{
    margin-top: 1rem;
    margin-left: 4.8rem;
    background: #000000;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*CODIGO FORMULARIO*/
.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 0px auto;
    display: flex;

    background: #e5a057;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/*CODIGO FORMULARIO PARTE DEL PAGO*/
.contact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #ffffff;
}
.contact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.info_tittle, 
.info_items{
    position: relative;
    z-index: 2;
    color: #000000;
}
.info_tittle img{
    width: 90px;
    margin-left: 7rem;
    margin-top: 3rem;
}
.info_tittle h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 3.2rem;
    letter-spacing: 1px;
    margin-top: 3.8rem;
}
.info_items p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 3rem;
    font-weight: 200;
    margin-top: 3.5rem;
}
.info_items h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 3rem;
    margin-top: 1rem;
}
.info_items h6{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 6rem;
    position: relative;
}
.info_items img{
    width: 160px;
    margin-left: 12rem;
    margin-top: -20rem;
    position: relative;
}
/*CODIGO FORMULARIO CONTACTO*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}
form.form_contact .user_info{
    display: flex;
    flex-wrap: wrap;
}
form.form_contact h2{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 60px;
    font-weight: lighter;
}
form.form_contact input{
    width: 48%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 8px 5px 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 0.2rem;
    background: #fffffff8;
}
form.form_contact textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 8px 5px 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 0.2rem;
    background: #fffffff8;

    max-width: 96.7%;
    min-width: 96.7%;
    max-height: 100px;
}
form.form_contact input[type="submit"]{
    width: 180px;
    background: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 0.2rem;

    margin-left: 23.2rem;
    cursor: pointer;
}
.user_info p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -3.8rem;
}
/*CODIGO VENTANA CON ERRORES*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background:  rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mensaje_modal{
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px; 
} 
.mensaje_modal h3{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}
.mensaje_modal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}
.mensaje_modal P{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(126, 119, 119);
}
.mensaje_modal P:before{
    content: "\f00d";
    font-family: 'FontAwesome';
    display: inline-block;
    color: #963a3a;
    margin-right: 8px;
}
#btnClose{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #963a3a;
    color: #ffffff;
    cursor: pointer;
    
    float: right;
}
/*MENSAJE EXITOSO*/
.form_wrapp{
    width: 1050px;
    height: 430px;
    margin: 60px auto;
    display: flex;

    background: #e5a057;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje-exito h1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
.mensaje-exito a{
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 10px 30px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.2rem;
}
.pedido a{
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 10px 40px;
    margin-left: -645px;
    margin-top: 450px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.2rem;

    position: fixed;
}

@media (max-width: 500px) {
    .info_tittle {
        height: 16rem;
    }
    .user_info {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 2rem !important;
        margin-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 52rem;
    }
    .form_contact {
        width: 100%;
    }
    .input {
        width: 95% !important;
    }
    .input:last-of-type {
        margin-bottom: 2rem !important;
    }
    .envio_pedidos {
        margin-bottom: 10rem !important;
    }
    #contacto-formulario-contenedor {
        margin-bottom: 1rem;
    }
}


