/*CODIGO COLORES*/
:root{
    --rojovino: #611919;
    --claro: #963a3a;
    --amarillo: #c8753d;
    --claroA: #e5a057;
    --variación-amarrillo: #e87324;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #eee;
    --main-color:#443;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);

}
/*CODIGO GENERAL PAGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.atras .icon-atras i{
    margin-top: 2.5rem;
    margin-left: 4.8rem;
    background: #000000;
    color: #ffffff;
    font-size: 4rem;
    border-radius: 6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header .logo img{
    width: 90px;
    margin-left: 49%;
    margin-top: 2.8%;
}
.container{
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-49%, -49%);
}
.container .panel-heading{
    background: #000000;
    border-radius: 0.3rem;
    color: #ffffff;
}
.container .panel-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
}
.panel-body button{
    background: #c8753d;
}
.panel-body button span{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.panel-body span{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
}
.panel-body span a{
    cursor: pointer;
}